@model CommercialAutomationProject.Models.Entities.Category
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Kategori Güncelle</h2>
<br />
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.CategoryId)
    <div class="form-group col-md-offset-10">
        @Html.LabelFor(x => x.CategoryName)
        @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
    </div>
    <button class="btn btn-warning">Güncelle</button>
}

