@using CommercialAutomationProject.Models.Entities
@model List<Department>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-bordered" style="margin-top:20px;">
    <tr>
        <th>ID</th>
        <th>Departman</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detay</th>

    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td>@item.DepartmentId  </td>
    <td>@item.DepartmentName</td>
    <td>
        <a href="/Department/Delete/@item.DepartmentId" class="btn btn-danger">Sil</a>
    </td>
    <td>
        <a href="/Department/Update/@item.DepartmentId" class="btn btn-warning">Güncelle</a>
    </td>
    <td>
        <a href="/Department/DepartmentDetail/@item.DepartmentId" class="btn btn-success">Detay</a>
    </td>
</tr>
    }


</table>
<a href="/Department/Add" class="btn btn-primary">Departman Ekle</a>

