@{
    ViewBag.Title = "Home Page";
}

<table class="table table-bordered" style="margin-top:20px;">
    <tr>
        <th>ID</th>
        <th>Kategori</th>

    </tr>
    <tr>
        <td>1</td>
        <td>TV</td>
    </tr>
    <tr>
        <td>2</td>
        <td>TV</td>
    </tr>
</table>
<button class="btn btn-primary">Ekle</button>